html {
    font-family: Futura;
}

@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 15%;
padding-bottom: 15px;
}

.upper .global-search {
text-align:center;
padding:10px;
margin-top:20vh;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}

.topcorner{
position:absolute;
top:7px;
right:5px;
font-size: small;
font-style: italic;
}

.btn{
background-color: #4285F4;
border: none
}

.step-links a{
color: #4285F4;
}

.form-group input {
    margin:10px;
}

.topcorner p {
    margin: 0;
    margin-left:5px;
    margin-right:5px;
}

.topcorner {
    border-radius: 10px;
    background-color: rgb(255,255,255,0.5)
}
.upper h1 {
    padding: 15px;
    margin-bottom:30px;
    background-color: rgb(10, 170, 230, 0.5);
    border-radius: 60px;
    font-style: italic;
    text-shadow: 2px 2px 5px black;
    box-shadow: 6px -4px 8px 8px rgb(10, 170, 230, 0.2),
                -6px 4px 8px 8px rgb(10, 170, 230, 0.2),
                6px 4px 8px 8px rgb(10, 170, 230, 0.2), 
                -6px -4px 8px 8px rgb(10, 170, 230, 0.1);
}

.upper {
    background-image: url("images/img1.jpg");
    background-size: 100% 100%;
    position: absolute;
    top:0;
    bottom:0;
}

/* Hide lower by default; change when search is clicked */
.lower {
    background-image:url("images/img2.jpg");
    background-size: 100% 100%;
    position: absolute;
    width:100%;
    top:100%;
    min-height: 100%;
    color: white;
}

#submit {
    background-color: #89CEEE;
    width:80px;
    height:80px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
}

#submit:hover {
    background-color: #B4E9EC;
}

#topbtn {
    background-color: #89CEEE;
    border:none;
    color:black;
    position: relative;
    bottom: 20px;
    width:120px;
    display:block;
    margin: 0 auto;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color:white;
    border-radius: 20px;
    margin-top:40px;
}

#topbtn:hover {
    background-color: #B4E9EC;
}

.lower h1, h3 {
    background-color: rgb(10, 170, 230, 0.7);
    border-radius: 20px;
    padding:10px;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-style: italic;
    color:#B4E9EC;
    display: inline-block
}

.table {
    border:3px solid white;
    color: #B4E9EC;
    border-collapse: collapse;
    table-layout: fixed;
    margin-left: 10%;
    margin-right: 10%;
    width:auto;
    margin-bottom:40px;
}

th {
    text-align: center;
    vertical-align: middle !important;
    border:1px solid white;
    color: #B4E9EC;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    background-color: rgb(10, 170, 230, 0.7);
}

td {
    color: white;
    border: 1px solid white;
}

tr:nth-child(odd) {
    background-color: rgb(0, 0, 128, 0.7);
}

tr:nth-child(even) {
    background-color:rgb(0, 128, 0, 0.7);
}

.read-more, .read-less {
    color:#B4E9EC;
}

.read-more:hover, .read-less:hover {
    color:white;
}

.hidden {
    display:none;
}

.header-bubbles {
    text-align: center;
}

.validation {
    text-align: center;
    color:red;
    font-style: italic;
    font-size: medium;
}

.table-center {
    text-align: center;
}

.search-inputs {
    display:flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    border-top: 1px solid white;
    background-color: rgb(10, 170, 230, 0.5);
}

.input-rows {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
}

.input-cols {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.search-inputs p {
    padding:5px;
    margin-bottom: 0;
}

.indented {
    margin-left:30px;
    padding-top:0 !important;
}

.about {
    padding-top:0;
}

.full-width {
    text-align:justify;
}

.feature-item {
    border-color:#dce9f5;
    font-size: 18px;
    border-style: solid; 
    margin-bottom: 10px; 
    margin-left: 50px; 
    margin-right: 50px;
}

.about-title {
    text-align: center; 
    font-size: 44px; 
    font-family:Futura;
}

.about-title:hover {
    color:black;
}


